@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model TWorld_Project.Model.UserInfo



<div>"User/Edit"</div>


<form method="post" asp-action="Save">

    Имя
    <input asp-for="User_Name" />
    <span asp-validation-for="User_Name"></span>

    <br />

    <button>Сохранить изменения</button>

</form>
