@{
    ViewData["Title"] = "Home Page";
}


<div>"User/Edit"</div>

 Имя :
<input type="text" name="name" />
<br />
     E-mail:
<input type="text" name="user_email" />
<br />
        Мобильный телефон:
<input type="text" name="phone_number" />
<br />
                        Город:
<input type="text" name="city_name" />
<br />
                                О себе:
<input type="text" name="about_user" />
<br />

<button onclick="redirect();">Сохранить и посмотреть</button>

<script type="text/javascript">function redirect() {
        window.location = "https://localhost:7206/User/Index";
        //пытался через https:/Index - пересылал на главную страничку (https:/l..06/Idex)
        //пытался через https:User/Index - открывал User/User/Index
    }</script>