@using TWorld_Project.Model
@model UserInfo

@{

}


<div>"User/Edit"</div>

<h1>@Model.User_Name</h1>

<form method="post" action="/SaveChange" role="form">

    

    <!-- <label asp-for = "field" - не работает -->
    <label asp-for="Name"></label>
    <input asp-for="User_Name" type="text" />
    <input type="submit">

</form>
