@using TWorld_Project.Model
@model UserInfo
@{

}


<div>"User/Edit"</div>

<form method = "post" action= "Save">
    
    <!-- <label asp-for = "field" - не работает -->

    <p>
        <label asp-for="UserInfo.User_Name">Имя</label><br />
        <input type="text" value = "@Model.User_Name" />
    </p>

     <p>
        <label asp-for="UserInfo.User_Name">О себе</label><br />
        <input type = "text" value = "@Model.About_User" />
    </p>


    <button>Сохранить и посмотреть</button>

</form>
